/* Base CSS Styles */

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

em {
  font-weight: bold;
  font-size: 1.2rem;
}

.center {
  margin: auto;
  text-align: center;
}

.background-image {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.line {
  display: block;
}

.bold {
  font-weight: bold;
}

.main-container {
  margin-top: 3.875rem; /* To offset header */
}

@media only screen and (max-width: 590px) {
  .main-container {
    margin-top: 2.5rem;
  }
}

/* Reusable Component - Image Container */

.image-container {
  overflow: hidden;
}

.image-container img.contain-width {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-container img.contain-height {
  display: block;
  width: auto;
  max-height: 100%;
}

/* Reusable Component - Header Image Section */

.header-image-section {
  display: flex;
  height: 36.875rem;
}

.header-image-section .background-image {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.header-image-section .content {
  flex: 1;
  padding-right: 10%;
}

.header-image-section .content h2 {
  padding-bottom: 4rem;
  font-size: 3.125rem;
  line-height: 1;
  font-weight: bold;
  color: #794ae2;
}

.header-image-section .content p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
}

@media only screen and (max-width: 1136px) {
  .header-image-section .content h2 {
    padding-bottom: 1.125rem;
    font-size: 3.125rem;
    line-height: 1;
    font-weight: bold;
    color: #794ae2;
  } 
}

@media only screen and (max-width: 750px) {
  .header-image-section {
    flex-direction: column;
    height: auto;
  }

  .header-image-section .background-image {
    height: 21.875rem;
  }

  .header-image-section .content {
    flex-grow: 0;
    padding-right: 0;
    margin: 1.25rem;
  }

  .header-image-section .content h2 {
    padding-bottom: 0;
    font-size: 1.25rem;
    line-height: 2.5;
  }

  .header-image-section .content p {
    font-size: 1rem;
    line-height: 1.6;
  }
}

/* Reusable Component - Information Square */

.information-square {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25rem;
  height: 20rem;
  padding: 5rem 3.125rem 0 3.125rem;
  background-color: rgba(120, 73, 225, 0.9);
}

.information-square h2 {
  padding-bottom: 1.25rem;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
}

.information-square p {
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #ffffff;
}

.information-square a {
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .information-square {
    width: auto;
    height: 12.1875rem;
    padding: 1.875rem 3.4375rem 0 1.875rem;
  }

  .information-square h2 {
    padding-bottom: .625rem;
    font-size: 1.875rem;
    line-height: 1.4;
  }

  .information-square p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 590px) {
  .information-square {
    width: auto;
    height: auto;
    padding: 1.875rem 1.25rem;
  }

  .information-square h2 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .information-square a {
    font-size: 1rem;
  }
}

/* Header */

header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.875rem;
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

header .logo {
  flex: 1;
  padding-left: 3.6875rem;
}

header .logo.mobile {
  display: none;
  padding-left: .625rem;
}

header .logo .image-container {
  height: 3.125rem;
}

header nav ul {
  display: flex;
  align-items: center;
  padding-right: 3.4375rem;
}

header nav li {
  padding-left: 2.625rem;
}

header nav a {
  transition: color .5s;
}

header nav a:hover {
  color: #b394f7;
}

header nav .active,
header nav .active:hover {
  color: #f5a623;
}

@media only screen and (max-width: 590px) {
  header {
    height: 2.5rem;
  }

  header .logo {
    display: none;
  }

  header .logo.mobile {
    flex: 1;
    display: inline-block;
  }

  header nav {
    padding-right: .625rem;
    font-size: .75rem;
  }
}

/* Footer */

footer {
  background-image: url('../images/party-photo.png');
  font-size: .875rem;
  letter-spacing: 0.7px;
  color: #ffffff;
}

footer .links {
  display: flex;
  align-items: center;
  height: 3.125rem;
  padding: 1.25rem 1.875rem;
  background-color: rgba(119, 73, 224, 0.3);
}

footer .logo,
footer nav {
  flex: 1;
}

footer .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9.375rem;
}

footer nav {
  text-align: right;
}

footer .info {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

footer .info .items {
  display: block;
  padding-bottom: 1.25rem;
}

footer .items span {
  padding: 0 .625rem;
  border-right: 1px solid white;
}

footer .items span:last-child {
  border-right: 0;
}

footer .mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  footer {
    height: 11.25rem;
  }

  footer .desktop {
    display: none;
  }

  footer .mobile {
    display: flex;
  }

  footer .links {
    justify-content: center;
    height: 2.5rem;
    padding: 0 .8125rem;
  }

  footer .logo {
    display: none;
  }

  footer .links .social-media {
    width: 5.4375rem;
  }

  footer nav {
    display: none;
  }

  footer .info {
    padding-top: 1.875rem;
    padding-bottom: 1.5625rem;
    font-size: .625rem;
    letter-spacing: 0.5px;
  }

  footer .items span {
    display: block;
    border-right: 0;
    padding-bottom: .3125rem;
  }

  footer .items span:nth-child(3) {
    display: inline;
    border-right: 1px solid white;
    padding-right: .3125rem;
    padding-bottom: 0;
  }

  footer .items span:nth-child(4) {
    display: inline;
    padding-left: .3125rem;
    padding-bottom: 0;
  }
}